.navbar {
    height: 50px;
    background-color: #282c34;
    width: 100vw;
    color: white;
    font-size: 20px;
}

.navbar-pages {
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar-text {
    display: flex;
    justify-content: center;
}

.navbarLinks {
    padding-left: 15px;
    color: #8d8d8d;
    text-decoration: none;
    transition: 0.5s;
}

.navbarLinks:hover {
    color: white;
    text-decoration: none;
}

.out {
    padding-left: 50px;
}