.btn {
    padding: 6px 22px;
    margin-left: 10px;
    background-color: #282c34;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.5s;
}

.btn:hover {
    background-color: white;
    color: #282c34;
}